welcome  <%= link_to "New Deck", new_deck_path %>

<%= link_to "sign out", session_path, method: :delete %>

<% @decks.each do |deck| %>
<div>
	<br><%= link_to deck.name, deck %>
	-
	<%= link_to "Edit", edit_deck_path(deck) %>
	*
	<%= link_to "Delete", deck, method: :delete, confirm: "Are u sure?" %>
</div>
<% end %>
